/config/*
/storage/*.json
/logs/*.log
/.spyproject/
/__pycache__/
/tests/__pycache__/
/server/ideas.py
/server/ideas.MD
/.coverage
/.pylint.d/
/server/.pylint.d/
/server/__pycache__/
/server/validate/__pycache__